@charset "UTF-8";

/* * {
    margin: 0px;
    padding: 0px;
};*/

/* body {
    margin: 10px;
}; */

section {
    display: inline-table;
};

table#MVSRules {
    margin: 0 auto;
};

table.MVSJobs {
    border: 1;
    width: 100%;
};
