@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;    
}

header {
    margin: 10px;
}

body {
    margin: 10px;
}

main {
    padding: 10px;
}

section {
    display: inline-table;
    margin: 15px;
}

table#MVSJobs {
    border-collapse: collapse;
    width: 700px;
}

table#MVSJobs th {
    border: 1px solid black;
}

table#MVSJobs td {
    border: 1px solid black;
}

table#RJobs {
    border-collapse: collapse;
}

table#RJobs th {
    border: 1px solid black;
}